<%= provide(:title, 'Home') %>
<div class = "center" >
  <h1>WELCOME!</h1>
  <p>
    This app was written using Rails framework
  </p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>